<ul class="social-links">
  <li>
    <a href="https://mastodonapp.uk/@aarblaster" rel="me" target="_blank" title="Mastodon">
      <div class="icon-container mastodon-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 232" width="20" height="20" aria-hidden="true">
          <path d="M212 113c-3 31-3 63-23 85-24 25-63 34-105 34-41 0-69-10-89-30C-5 182 1 128 1 128V69c0-17 11-32 27-38 27-10 55-14 83-14s56 5 83 14c16 6 27 21 27 38v44zm-42 36v-71h-26v72c0 15-6 24-19 24-14 0-21-11-21-27v-69H78v72c0 15-6 24-19 24-14 0-21-11-21-27v-69H13v72c0 15 2 26 6 34 7 14 22 29 49 29s40-13 45-23l9-18c4 9 14 41 58 41 16 0 28-4 35-11 11-10 15-27 15-51z"/>
        </svg>
      </div>
      Mastodon
    </a>
  </li>

  <li>
    <a href="https://www.linkedin.com/in/anthonyarblaster" target="_blank" title="LinkedIn">
      <div class="icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20" aria-hidden="true">
          <path d="M100.3 448H7.4V148.9h92.9zm-46.4-342C24.1 106 0 81.9 0 53.6 0 25.3 24.1.3 53.6.3c29.4 0 53.4 24.1 53.4 53.3 0 28.3-24 52.4-53.4 52.4zm394.4 342h-92.6V302c0-34.7-.7-79.3-48.3-79.3-48.4 0-55.9 37.8-55.9 76.9v148.4H159V148.9h88.9v40.8h1.3c12.4-23.5 42.6-48.3 87.7-48.3 93.8 0 111.1 61.8 111.1 142.3V448z"/>
        </svg>
      </div>
      LinkedIn
    </a>
  </li>

  <li>
    <a href="https://wwwrada.academia.edu/AnthonyArblaster" target="_blank" title="Academia.edu">
      <div class="icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20" aria-hidden="true">
          <path d="M256 32L20 464h472L256 32zm-6.3 121.6h12.6l108.3 194.5H141.4l108.3-194.5zM256 221l-68.1 122.5h136.2L256 221z"/>
        </svg>
      </div>
      Academia.edu
    </a>
  </li>

  <li>
        <a
    id="cy-effective-orcid-url"
    class="underline"
     href="https://orcid.org/0009-0005-0404-0645"
     target="orcid.widget"
     rel="me noopener noreferrer"
     style="vertical-align: top">
     <img
        src="https://orcid.org/sites/default/files/images/orcid_16x16.png"
        style="width: 1em; margin-inline-start: 1em"
        alt="ORCID iD icon"/>
      ORCID
    </a>
  </li>
</ul>
