{% include base_path %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

      <a href="#" rel="noreferrer noopener" 
        target="mastodon" 
        data-prompt="Please tell me your Mastodon instance" 
        data-edittext="✏️" 
        data-editlabel="Edit your Mastodon instance" 
        class="mastodon-share">
        Share to Mastodon
    </a>
    <script src="mastodon-share.js"></script>

  <a href="https://bsky.app/intent/compose?text={{ base_path }}{{ page.url }}" class="btn btn--bluesky" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Bluesky"><i class="fab fa-bluesky"></i> Bluesky</a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_path }}{{ page.url }}" class="btn btn--linkedin" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn"><i class="fab fa-linkedin"></i> LinkedIn</a>

</section>
